/* ACTIVIDAD NF3
Desarrollo Web en Entorno Servidor - iFP 2025/2026
Paula Serrano Torrecillas */


/* GENERAL */
body {
  background-color: rgb(225, 235, 243);
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.msn-err {
  color: rgb(178, 231, 53);
}

/* CABECERAS */
header {
  background-color: aliceblue;
  height: 80px;
  width: 100%;
  padding: 10px;
  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 1px 8px rgb(107, 128, 148);
}
.cabecera-logueada {
  display:flex;
  text-align:right;
  margin-top: 20px;
  margin-right: 30px;
}
.logo {
  width: 200px;
  margin-left: 20px;
}

.boton-cierre {
  background-color: aliceblue;
  color: black;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 5px 0px 0px 30px;
  font-weight: bold;
  border-color: black;
  border-width: 0.5px;
  border-radius: 5px;
  cursor: pointer;
}
.boton-cierre:hover {
  background-color: black;
  color: white;
}

/* CUERPO GENERAL*/
main {
  padding-top: 160px;
  text-align: center;
  padding: 120px 0px 50px 0px;
}
.titulo-pagina {
  font-size: 40px;
  color: rgb(41, 129, 218);
}
.titulo-bienvenida {
  font-size: 30px;
  color: rgb(151, 201, 37);
  font-weight: lighter;
}

/* TABLAS */
.lista-users {
  width: 100%;
  display: flex;
  justify-content: center;
}
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px 30px;
  margin: 50px 0px 0px 0px;

}
th {
  background-color: rgb(41, 129, 218);
  color: black;
}

td {
  background-color: aliceblue;
  color: black;
}

/* FORMULARIOS */
form {
  display: inline-block;
  text-align: right;
  padding: 50px 70px 50px 50px;
  background-color: rgba(41, 130, 218, 0.9);
  color: white;
  font-weight: bold;
  box-shadow: 0 1px 8px rgb(107, 128, 148);
  border-radius: 5px;
  margin-bottom: 50px;
}

.comentProfe {
  background-color: transparent;
  width: 170px;
  min-height: 50px;
  resize: none;
  outline: 1px solid black;
  border-radius: 4px;
  align-self:center;
  margin: 20px 0px 20px 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
    /* ESPACIOS RELLENABLES DEL FORMULARIO */
    input {
      margin: 10px;
      width: 250px;
      background-color: white;
    }
    input:focus {
      outline-color: rgb(175, 218, 59);
      background-color: rgb(240, 255, 198);
    }
    input[readonly]:focus {
      outline: none;
      background-color: white;
    }
    select {
      height: 25px;
      width: 250px;
      margin: 10px;
      cursor: pointer;
    }
    select:focus {
      outline-color: rgb(175, 218, 59);
      background-color: rgb(240, 255, 198);
    }
    /* BOTONES DEL FORMULARIO */
    .boton-form {
      background-color: rgb(154, 204, 38);
      width: fit-content;
      padding: 10px 15px;
      margin-left: 0px;
      margin-top: 30px;
      font-weight: bold;
      border-width: 0.5px;
      border-radius: 5px;
      cursor: pointer;
    }
    .boton-form:hover {
      background-color: rgb(240, 255, 198);
    }

/* BOTONES DASHBOARD ADMIN */
.boton-dashboard {
  width: 200px;
  height: 100px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  margin: 0px 10px;
  background-color: rgb(41, 129, 218);
}
.boton-dashboard:hover {
  background-color: rgb(25, 103, 182);
  cursor: pointer;
}
.opcion-dashboard {
  place-items: center;
  color: white;
  text-decoration: none;
  display: grid;
  margin-top: 40px;
  font-size: 18px;
}

/* PANTALLA CONFIRMACIÓN Y BOTÓN */
.contenedor-confirmacion {
  width: 300px;
  margin: auto;
  padding: 40px;
  border: 5px dotted rgb(41, 129, 218);
}
.confirmacion {
  color: black;
  font-size: 20px;
  text-align: left;
}
.boton-volver {
  background-color: rgb(41, 129, 218);
  width: fit-content;
  padding: 10px 15px;
  margin-left: 0px;
  margin-top: 30px;
  font-weight: bold;
  border-width: 0.5px;
  border-radius: 5px;
  cursor: pointer;
}
.boton-volver:hover {
  background-color: rgb(25, 103, 182);
}

/* DASHBOARD ESTUDIANTES (Y ALGUNAS COSAS PROFESOR) */

.lista-clases, .lista-tareas, .lista-tareas-profe {
  width: 500px;
  margin: auto;
  padding: 0px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lista-clases {
  border: 3px solid rgb(41, 129, 218);
  margin-bottom: 20px;
}

.lista-tareas, .lista-tareas-profe {
  border: 3px solid rgb(142, 187, 38);
  margin-bottom: 20px;
}

.cabecera-clases, .cabecera-tareas {
  margin-top: 0px;
  font-weight: bolder;
  font-size: 14pt;
  letter-spacing: 1pt;
  color: white;
  position: relative;
}

.cabecera-clases {
  background-color: rgb(41, 129, 218);
}

.cabecera-tareas {
  background-color: rgb(142, 187, 38);
}

.contenido-clases, .contenido-tareas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lineas-clases, .lineas-tareas {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.descriptor-clases, .descriptor-tareas {
  margin: 20px 0px 10px 90px;
  text-align: left;
  width: 20%;
  font-weight: bold;
}

.descriptor-clases {
  color: rgb(41, 129, 218);
}

.descriptor-tareas {
  color: rgb(129, 167, 43);
}

.info-clases, .info-tareas, .enlace-tareas, .boton-entrega, .boton-comentario {
  margin: 20px 50px 10px 20px;
  text-align: left;
  width:50%;
}

.boton-entrega, .boton-comentario {
  background-color: black;
  color: white;
  font-weight: bold;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 0px;
  font-weight: bold;
  border-width: 0.25px;
  border-radius: 5px;
  cursor: pointer;
}

.boton-entrega {
  position: absolute;
  right: 10%;
  bottom: 50%;
}
.boton-comentario {
  align-self: end;

}

.boton-entrega:hover, .boton-comentario:hover {
  background-color: rgb(129, 167, 43);
}

.textarea-form {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 0px;
  margin: 0px;
  box-shadow: 0 0px 0px transparent;
  display: flex;
  flex-direction: column;
}

.tarea-urgente {
  background-color:black;
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 100%;
  top: -15%;
  right: -5%;
}

.texto-urgente {
  font-size: 9pt;
  margin: 0px;
  padding: 0px;
  line-height: 5pt;
}

.signo-urgente {
  font-size: 28pt;
  font-weight:lighter;
  margin: 0px;
  padding-top: 2.5px;
}

/* DASHBOARD PROFESOR*/

.botones-profe {
  width: 500px;
  margin: auto;
  padding: 0px 0px 30px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.boton-profe {
  padding: 20px;
  margin: 0px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.boton-profe:hover {
  background-color: black;
  color: white;
}

.boton-profe-activo {
  padding: 20px;
  margin: 0px;
  background-color: rgb(129, 167, 43);
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

/* TABLA USUARIOS ADMIN */

.hidden-form {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  padding: 0px;
  margin: 0px;
  box-shadow: 0 0px 0px transparent;
}

.iconoBD {
  background-color: transparent;
  font-size: 30pt;
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: fit-content;
  height: fit-content;
}

.iconoBD:hover {
  color:rgb(41, 129, 218);
  cursor: pointer;
}

.postTxA {
  background-color: white;
  width: 215px;
  margin: 0px 10px 0px 0px;
  min-height: 50px;
  resize: none;
  outline: 1px solid black;
  border-radius: 4px;
  align-self:center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.postTxALabel {
  vertical-align: top;
  margin-right: 10px;
}